<mat-sidenav-container class="app-container">
  <mat-sidenav mode="side" opened class="app-sidenav">
    <div class="sidenav-inner">
      <nav class="nav-buttons">
        <a matButton routerLink="/wheel-of-fortune" routerLinkActive="active">
          <mat-icon>casino</mat-icon>
          Wheel of Fortune
        </a>
        <a matButton routerLink="/scrum-poker" routerLinkActive="active">
          <mat-icon>style</mat-icon>
          Scrum Poker
        </a>
        <a matButton routerLink="/canvas" routerLinkActive="active">
          <mat-icon>color_lens</mat-icon>
          Canvas
        </a>
        <a matButton routerLink="/battleships" routerLinkActive="active">
          <mat-icon>directions_boat</mat-icon>
          Battleships
        </a>
      </nav>

      <div class="sidenav-footer">
        <app-theme-toggle />
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
